@use "sass:map";

//* ----------------------
//* -----<< COLORS >>-----
//* ----------------------

$color-white: #fffcfb;
$color-secondary: #ffeae6;
$color-primary: #dc4322;
$color-gray: #856962;
$color-black: #44150b;

//* ---------------------------
//* -----<< MEDIA QUERY >>-----
//* ---------------------------

$breakpoints: (
    "mobile": 480px,
    "tablet": 834px,
    "desktop": 1600px,
    "large": 2440px,
);

//* -------------------------------------
//* -----<< MIXINS & PLACEHOLDERS >>-----
//* -------------------------------------

@mixin respond-to($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media (max-width: map.get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @media (max-width: $breakpoint) {
            @content;
        }
    }
}

//* -------------------------
//* -----<< FONT FACE >>-----
//* -------------------------

$fontsize-primary: 18px;
$fontsize-secondary: 24px;
$fontsize-h1: 64px;
$fontsize-h2: 32px;

$fontsize-primary-mobile: 14px;
$fontsize-h1-mobile: 32px;
$fontsize-h2-mobile: 32px;

$fontface-regular: "Inter_18pt-Regular";
$fontface-medium: "Inter_18pt-Medium";
$fontface-semibold: "Inter_24pt-SemiBold";
$fontface-bold: "Inter_28pt-Bold";
$fontface-title: "InstrumentSerif-Italic";

@font-face {
    font-family: Inter_18pt-Regular;
    src: url("../fonts/Inter_18pt-Regular.ttf");
}
@font-face {
    font-family: Inter_18pt-Medium;
    src: url("../fonts/Inter_18pt-Medium.ttf");
}
@font-face {
    font-family: Inter_24pt-SemiBold;
    src: url("../fonts/Inter_24pt-SemiBold.ttf");
}
@font-face {
    font-family: Inter_28pt-Bold;
    src: url("../fonts/Inter_28pt-Bold.ttf");
}
@font-face {
    font-family: InstrumentSerif-Italic;
    src: url("../fonts/InstrumentSerif-Italic.woff2");
}

@mixin font-title2() {
    font-size: #{$fontsize-h2};
    font-family: $fontface-title;
    color: $color-primary;
    font-weight: normal;
}

@mixin font-title() {
    font-size: #{$fontsize-h1};
    font-family: $fontface-title;
    color: $color-primary;
    font-weight: normal;
    @include respond-to("mobile") {
        font-size: #{$fontsize-h1-mobile};
    }
}

%transition {
    transition: 0.5s ease;
}
