html {
    scroll-behavior: smooth;
    background: $color-white;

    body {
        font-size: $fontsize-primary;
        @include respond-to("mobile") {
            font-size: $fontsize-primary-mobile;
        }
        font-family: $fontface-regular;
        color: $color-black;
        line-height: 1.35;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            line-height: 1;
        }

        a {
            color: inherit;
            text-decoration: inherit;
        }
    }

    main {
        max-width: 100rem;
        margin: auto;
        //@TODO temporary for demo : find a way to fix the include.

        @include respond-to("large") {
            margin: 0 auto;
            /* background-color: green; */
        }
        @include respond-to("desktop") {
            margin: 0 8rem;
            /* background-color: yellow; */
        }
        @include respond-to("tablet") {
            margin: 0 4rem;
            /* background-color: blue; */
        }
        @include respond-to("mobile") {
            margin: 0 2rem;
            /* background-color: red; */
        }

        h1 {
            margin-top: 6rem;
            @include respond-to("mobile") {
                margin-top: 4rem;
            }
        }
    }
}

section.content {
    color: $color-gray;

    & * {
        all: revert;
        font-family: $fontface-medium;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $fontface-title;
        color: $color-primary;
        font-weight: normal;
    }
}
